.venue-id {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 30%;
    left: 32%;
    width: 35%;
    height: 35%;
    background-color: white;
    color: black;
    z-index: 120;
}

.venue-image {
    max-height: 100px;
    max-width: 100px;
    border-radius: 50%;
}
