#venue-search-container {
    position: relative;
    top: 300px;
    width: 40%;
    height: 300px;
    left: 32%;
    right: 50%;
    color: black;
    z-index: 200;
}

#venue-image {
    max-height: 400px;
    max-width: 400px;
    border-radius: 50%;
}
