#homeLink {
    position: relative;
    left: 10%;
    bottom: 10px;
    border-radius: 20px;
    padding: 20px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

#homeLink:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}

#homeSignup {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    padding-right: 20px;
    left: 81%;
}

#homeLogin {
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    list-style-type: none;
    left: 75%;
}

#homeLogin:hover,
#homeSignup:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}

.loginSignup {
    position: relative;
    bottom: 45px;
    left: 81.5%;
}

#musicIcon {
    position: relative;
    top: 20px;
    height: 70px;
    width: 90px;
}

.profileButton {
    position: relative;
    left: .5%;
    bottom: 35px;
    width: 4%;
}

.profile-dropdown {
    position: relative;
    left: 50px;
    bottom: 50px;
    list-style-type: none;
}

#profileUsername {
    color: white;
    font-size: 20px;
}

#profileEmail {
    color: white;
    font-size: 20px;
}


#venueLink:hover,
#venue-nav:hover {
    color: rgb(73, 16, 16);
    transition: .5s;
}

#venueLoggedIn {
    position: fixed;
    left: 23.40%;
    top: 43.5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

#not-logged-in-nav {
    position: relative;
    bottom: 45px;
    left: 40%;
    /* color: white; */
}

#search-bar {
    position: relative;
    list-style-type: none;

    max-width: 1%;
    left: 82%;
    top: 50px;
    z-index: 150;
}

.venue-bar {
    position: relative;
    max-width: 60px;
    top: 45px;
    list-style-type: none;
    text-decoration: none;
    left: 48.5%;
    font-size: 20px;
    font-weight: bold;
    z-index: 150;
}

#venue-nav {
    color: white;
    text-decoration: none;
}
